// code dùng chung
// có thể tái sử dụng 
// có thể thay đổi đc

// radius_common: đặt tên
//$radius: tên thuộc tính
// 10px: mặc định là 10px nếu ko truyển vào giá trị
@mixin radius_common ($radius: 10px) {
    border-radius: $radius;
}
@mixin btn ($w, $h, $color, $radius) {
    outline: none;
    border: 1px solid #e1e1e1;
    width: $w;
    height: $h;
    background-color: $color;
    @include radius_common($radius)
}